.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.text-wrapper {
    max-width: 1040px;
    margin: 0 auto;

}

.bg-wrapper {
    background-image: url("assets/images/header-bg.png");
    background-size: cover;
    height: 564px;
}

header {
    display: flex;
}

.header-logo {
    margin-top: 8px;
    margin-left: -116px;
}

.header-heading {
    font-size: 41px;
    letter-spacing: 1.1px;
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 47px;
    margin-left: -3px;
    font-weight: 400;

}

.nav-wrapper {
    position: relative;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    letter-spacing: 0;
    color: #9b7d08;
    font-family: 'Segoe WP', sans-serif;
    text-align: center;
    width: 411px;
    height: 41px;
    line-height: 41px;
    background-color: #f5c506;
    margin-right: 141px;
    margin-top: 67px;
}

.nav-list li {
    padding-right: 36px;
}

.first-nav-wrapper {
    width: 451px;
    height: 41px;
    background-color: #f5c506;
    opacity: 0.27;
    position: absolute;
    top: -5px;
    left: -5px;
}

.second-nav-wrapper {
    width: 450px;
    height: 41px;
    background-color: #f5c506;
    opacity: 0.27;
    position: absolute;
    top: -10px;
    left: -10px;
}

.nav-logo {
    padding-right: 5px;
}

.video video {
    width: 550px;
    margin-top: 41px;
    margin-left: 20px
}

.video .text-wrapper {
    justify-content: space-between;
}

.videoh-item1 {
    font-size: 63px;
    letter-spacing: 1px;
    font-family: 'Asap', sans-serif;
    color: #f5c506;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 115px;
    margin-right: 45px;
}

.videoh-item2 {
    font-size: 63px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: -50px;
    margin-right: 25px;
}

.arrays {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -189px;
}

.twitter {
    background-image: url("assets/images/twitter-bg.png");
    background-size: cover;
    height: 508px;
    border: 1px solid #f5c506;
}

.twitter-heading {
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin-top: 36px;
    margin-left: 12px;
}

.twitts {
    display: flex;
}

.twitter-video {
    width: 317px;
    height: 235px;
}

.twitter-icon {
    display: block;
    margin: 57px auto;
}

.twitts_item.twitts-text {
    width: 340px;
    margin-left: 10px;
    height: 233px;
    background-color: #ec9e03;
}

.twitts_item.twitts-img {
    width: 331px;
    margin-right: 10px;
    height: 233px;
    background-color: #ec9e03;
}

.twitts_item {

    position: relative;
}

.plus_button {
    position: absolute;
    bottom: 9px;
    right: 12px;
}

.twitts-data-wrapper {
    position: absolute;
    bottom: -88px;
    left: 0;
    width: 112px;
    height: 88px;
    text-align: center;
    background-image: url("assets/images/twitts-data-bg.png");
    background-size: cover;
}

.twitts-data {
    font-size: 21px;
    letter-spacing: 2px;
    color: #b26529;
    font-family: 'Segoe UI', sans-serif;
    margin-left: 16px;
}

.twitts-day {
    font-size: 54px;
    letter-spacing: 6px;
    line-height: 22px;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 7px;
}

.twitts-img {
    margin-left: auto;

}

.twitts-number {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 38px;
    color: #ffffff;
    font-family: 'Segoe WP', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 10px;
    right: 16px;
    margin: 0;

}

.twitts-p {
    font-size: 29px;
    letter-spacing: 0;
    line-height: 38px;
    color: #ffffff;
    font-family: 'Segoe WP', sans-serif;
    font-weight: 300;
    margin: 20px;
}


.twitter-slider {
    width: 896px;
    height: 15px;
    border-radius: 7px;
    background-color: #ffffff;
    opacity: 0.48;
    position: relative;
    margin: 127px 82px;
}

.twitter-subsluder {
    width: 22%;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    position: absolute;
    left: 28%;
}

.advantages {
    background-image: url("assets/images/advantages-bg.png");
    background-size: cover;
    height: 212px;
}

.advantages .text-wrapper {
    height: 212px;
    display: flex;
    border-left: 1px solid lightgray;

}

.advantages-item-border {
    padding-left: 5px;
    width: 412px;
    height: 212px;
    border-right: 1px solid lightgray;
    margin: 0 auto;

}

.advantages-item {
    margin: 40px 0;
}

.advantages-icon {
    display: block;
    margin: 0 auto;
}

.advantages-header {
    font-size: 27px;
    letter-spacing: 0;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;

}

.devices {

    background-image: url("assets/images/devices-bg.png");
    background-size: cover;
    height: 490px;
    border: 1px solid gray;
}

.devices-heading {
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: 0;
    color: #f5c506;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 36px 0 59px;
}

.devices-flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.devices-pictures {
    position: relative;
    margin: 0;
}

.devices-pictures__item {
    margin: -9px 28px;
}

.tablet {
    margin-left: -7px;
    margin-bottom: 30px;
}

.phone {
    margin-bottom: 31px;

    margin-left: -9px;
}

.free {
    font-size: 19px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    background-color: #f5c506;

    text-align: center;
    line-height: 115px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: -70px;
    width: 115px;

}

.devices ul {
    width: 352px;
    list-style-image: url('assets/images/ul-style.png');
    margin-top: 34px;
    margin-right: 14px;
}

.devices li {
    font-size: 22px;
    letter-spacing: 0;
    color: #a9a9a7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 22px;
    padding-left: 7px;

}

footer {
    background-image: url("assets/images/footer-bg.png");
    background-size: cover;
    height: 65px;
    -webkit-box-shadow: 0 -7px 5px 0 rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0 -7px 5px 0 rgba(0, 0, 0, 0.78);
    box-shadow: 0 -7px 5px 0 rgba(0, 0, 0, 0.78);
}

footer .text-wrapper, header .text-wrapper, .video .text-wrapper {
    display: flex;

}

.footer-logo {
    width: 53px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 2px;
}

.footer-heading {
    font-size: 29px;
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 0;
    margin-left: 3px;
    margin-top: 20px;
}
